*  {
    box-sizing: border-box;
    font-family: 'Nothing You Could Do', cursive;
}

body {
    background-color: papayawhip;
    font-family: 'Nothing You Could Do', cursive;
}

button:focus {
    outline: 0;
}

h1 {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2{
    font-weight: bold;
}
.instructions {
    height: 300px;
    width: 500px;
    background-color: coral;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px;
}

.difficulty {
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    margin: 10 auto;
    max-width: 500px;

}

.difficultyButton {
    height: 25px;
    width: 25%;
    background-color: coral;
    color: aqua;
    font-size: 20px;
}

.difficultyButton:hover {
    background-color: rgb(163, 69, 34)
}

.selected {
    background-color: rgb(163, 69, 34)
}

.startButton {
    height: 25px;
    width: 100%;
    background-color: purple;
    color: aquamarine;
    font-size: 20px;
}

.start {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin: 10 auto;
    max-width: 500px;


}

.scoreboard { 
    height: 125px;
    width: 500px;
    background-color:coral;
    margin: 0 auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.magicnumber {
    height: 100px;
    width: 150px;
    margin: 10px;
    background-color: purple;
    color: aqua;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    /* opacity: 0.5; */




}

.currentScore {
    height: 100px;
    width: 150px;
    margin: 10px;
    background-color: purple;
    color: aqua;
    /* opacity: 0.5; */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px;

}

.score {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: purple;
    color: aqua;
    /* opacity: 0.5; */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px;


}

.losses {
    padding-top: 15px;
}
.crystal {
    height: 100px;
    width: 100px;
    /* margin-left: 15px; */
    background-color: aqua;
    /* float: left; */
    /* margin: 10px; */
    /* margin: 0 auto; */
    /* border-color: coral;
    border-style: groove;
    border: 5px; */
}

.divContainer {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: space-around;


}

